@use "../../../../../styles/styles.scss";
@reference "#tailwind.css";

.has-error {
    @apply outline-red-600;
    @apply text-red-600;
}

@mixin form() {
    @apply flex flex-col min-w-2/3 bg-white rounded-2xl pt-5 pl-10 pr-10 pb-5 mb-5;
}

@mixin h2() {
    @apply text-xl font-bold mb-5;
}

@mixin label() {
    @apply mb-2;
}

@mixin input() {
    @apply bg-input rounded-xl pt-1 pb-1 pr-3 pl-3 mb-5 placeholder:text-gray-400 placeholder:italic;
}

@mixin button() {
    @apply w-1/3 bg-gray-300 rounded-xl p-2;

    &:disabled {
        @apply cursor-not-allowed;
        @apply text-gray-400;
    }

    &:enabled{
        @apply hover:bg-gray-400;
    }
}

section {
    header {
        h1 {
            @apply text-3xl font-bold;
        }

        p {
            @apply text-sm font-light mt-2;
        }
    }

    main {
        @apply flex flex-wrap mt-10;

        form {
            @include form;

            h2 {
                @include h2;
            }

            label {
                @include label;
            }

            input {
                @include input;
            }

            button {
                @include button;
            }
        }
    }
}