<section>
    <header>
        <h1>Mon compte</h1>
        <p>Modifier les paramètres de mon compte</p>
    </header>
    <main>
        <form [formGroup]="userForm">

            <h2>Modifier mes informations personnelles</h2>

            <label for="name">Nom
                @if (userForm.get('name')?.invalid) {
                <span [class.has-error]="userForm.get('name')?.invalid">
                    (Le nom doit contenir au moins 3 caractères.)
                </span>
                }
            </label>
            <input [class.has-error]="userForm.get('name')?.invalid" type="text" id="name" name="name"
                placeholder="Dupont" formControlName="name" />

            <label for="firstname">
                Prénom
                @if (userForm.get('firstname')?.invalid) {
                <span [class.has-error]="userForm.get('firstname')?.invalid">
                    (Le prénom doit contenir au moins 3 caractères.)
                </span>
                }
            </label>
            <input [class.has-error]="userForm.get('firstname')?.invalid" id="firstname" name="firstname"
                placeholder="Jean" formControlName="firstname" />

            <label for="email">
                Adresse email
                @if (userForm.get('email')?.invalid) {
                <span [class.has-error]="userForm.get('email')?.invalid">
                    (L'adresse email doit être au format : exemple@mail.com)
                </span>
                }
            </label>
            <input [class.has-error]="userForm.get('email')?.invalid" id="email" name="email"
                placeholder="exemple@mail.com" formControlName="email" />

            <label>
                Numéro de téléphone
                @if(userForm.get('phonenumber')?.invalid ){
                <span [class.has-error]="userForm.get('phonenumber')?.invalid">(Le numéro de téléphone doit être au
                    format : 0XXXXXXXXX)</span>
                }
            </label>
            <input [class.has-error]="userForm.get('phonenumber')?.invalid" placeholder="0612345678"
                formControlName="phonenumber" />

            <button type="submit" [disabled]="userForm.invalid" (click)="onSubmitUserForm()">Enregistrer les
                modifications</button>
        </form>

        <form [formGroup]="passwordForm">

            <h2>Modifier mon mot de passe</h2>

            <label for="actualpassword">Mot de passe actuel
                @if (userForm.get('actualpassword')?.invalid) {
                <span [class.has-error]="userForm.get('actualpassword')?.invalid">
                    (Le nom doit contenir au moins 3 caractères.)
                </span>
                }
            </label>
            <input [class.has-error]="userForm.get('actualpassword')?.invalid" type="password" id="actualpassword"
                name="actualpassword" formControlName="actualpassword" />

            <label for="newpassword">Nouveau mot de passe
                @if (userForm.get('newpassword')?.invalid) {
                <span [class.has-error]="userForm.get('newpassword')?.invalid">
                    (Le nom doit contenir au moins 3 caractères.)
                </span>
                }
            </label>
            <input [class.has-error]="userForm.get('newpassword')?.invalid" type="password" id="newpassword"
                name="newpassword" formControlName="newpassword" />

            <label for="confirmnewpassword">Confirmer nouveau mot de passe
                @if (userForm.get('confirmnewpassword')?.invalid) {
                <span [class.has-error]="userForm.get('confirmnewpassword')?.invalid">
                    (Le nom doit contenir au moins 3 caractères.)
                </span>
                }
            </label>
            <input [class.has-error]="userForm.get('confirmnewpassword')?.invalid" type="password" id="confirmnewpassword"
                name="confirmnewpassword" formControlName="confirmnewpassword" />

            <button type="submit" [disabled]="userForm.invalid" (click)="onSubmitPasswordForm()">Changer mon mot de
                passe</button>
        </form>
    </main>
</section>