@use "./tailwind.css";

:root {
    --prout: hsl(0, 0%, 30%);
}

@theme {
    --color-background: oklch(0.9527 0.0498 180.8 / 20%);
    --color-primary: oklch(0.9527 0.0498 180.8);
    --color-primary-accent: oklch(0.88 0.07 180.8);
    --color-secondary: oklch(0.8792 0.0614 156.65);
    --color-tertiary: oklch(0.8201 0.0819 159.98);
    --color-input: oklch(0.9383 0.03 149.59);
    --color-dark : oklch(0.6002 0.1038 184.7);
    --color-background-body: oklch(0.965 0.003 230);
}

body {
    margin: 0;
    padding: 0;
}