@use "../../../../../styles/styles.scss";
@reference "#tailwind.css";

mat-card{
    @apply bg-white rounded-2xl;
    &:hover{
        @apply shadow-lg shadow-tertiary inset-shadow-xs inset-shadow-tertiary;
        @apply cursor-pointer;
    }
}