<mat-card class="m-3 p-3 w-80" routerLink="/real-estate-property/{{property()?.id}}">
    <mat-card-header class="flex-col-reverse">
        <section class="flex items-center justify-between">
            <mat-card-title>{{property()?.name}}</mat-card-title>
            @if(propertyIsAvailable()){
            <span>Disponible</span>
            }@else {
            <span class="text-sm">Louée</span>
            }
        </section>
        <mat-card-subtitle><span>{{property()?.address?.street}}</span>
            <section class="flex items-center">
                <lucide-angular [img]="MapPin" class="size-4 rounded-4xl mr-2"></lucide-angular>
                <span class="text-sm">{{property()?.address?.city}}</span>
            </section>
        </mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://via.placeholder.com/150" alt="Card Image"> -->
    <mat-card-content>
        <section class="flex items-center bg-background rounded-2xl w-full pt-2 pb-2 mt-2 mb-2">
            <lucide-angular [img]="UsersRound" class="w-6px h-6px m-2 bg-whiterounded-4xl"></lucide-angular>
            @if(propertyIsAvailable()){
            <p class="text-sm ml-4">Aucun locataire</p>
            }@else {
            <p class="flex flex-col text-sm ml-4 mr-4">
                <span>{{property()?.tenantsNames}}</span>

                <span>Locataire actuel</span>
            </p>
            }

        </section>
        <section class="flex justify-between border-t pt-">
            <p>Loyer mensuel</p>
            <p>{{property()?.totalRent}} €</p>
        </section>
    </mat-card-content>
    <mat-card-actions class="justify-center" class="hidden">
        <button mat-button class="hidden">Voir les détails</button>
    </mat-card-actions>
</mat-card>