@use "../../../../../styles/styles.scss";
@reference "#tailwind.css";

@mixin padding-margin($padding, $margin) {
    padding: calc(var(--spacing) * $padding);
    margin: calc(var(--spacing) * $margin);
}

@mixin bg-white-rounded-border-green {
    @apply bg-white rounded-xl border-2 border-background-body;
}


.bg-border {
    @include bg-white-rounded-border-green();
}

.space {
    @include padding-margin(4, 4);
}

lucide-angular {
    @include padding-margin(2, 2);
    @apply bg-primary rounded-4xl;
}

button{
    @include padding-margin(1, 1);
    @apply flex items-center rounded-xl border-2 border-primary hover:cursor-pointer hover:bg-primary-accent hover:border-primary-accent;
}

.back-arrow {
    background-color: transparent;
}