<!-- HEADER -->
<section class="bg-border space flex justify-between items-center">
    <section>
        <h1>{{property()?.address?.street}}
            @if(property()?.address?.complement !== ""){
            , {{property()?.address?.complement}}
            }
        </h1>
        <h2 class="flex items-center">
            <lucide-angular [img]="MapPin"></lucide-angular>
            <span>{{property()?.address?.city}}</span>
        </h2>
    </section>
    <p>{{getPropertyStatus()}}</p>
</section>

<!-- ZONE LOYER ENCADRE -->
<!-- <section class="bg-border space flex items-center">
    <lucide-angular [img]="CircleAlert"></lucide-angular>
    <section>
        <p>Zone à loyer encadré :</p>
        <p>Loyer maximum autorisé : {{property()?.maxRent}}€ (Zone A)</p>
    </section>
</section> -->

<!-- INFORMATION SUR LA PROPRIETE -->
<section class="bg-border space">
    <h3>Information sur la propriété</h3>
    <section class="flex items-center">
        <lucide-angular [img]="Euro"></lucide-angular>
        <section>
            <p>Loyer mensuel : </p>
            <p>{{property()?.maxRent}} €</p>
        </section>
    </section>
</section>

<!-- ACTIVITE RECENTE -->
<!-- <section class="bg-border space">
    <h3>Activité récente</h3>
</section> -->

<!-- ACTIONS RAPIDES -->
<section class="bg-border space">
    <h3>Actions rapides</h3>
    <section>
        <!-- <button (click)="addTransaction()">
            <lucide-angular [img]="FileText" /> Ajouter une transaction
        </button> -->
        <button (click)="updateRent()">
            <lucide-angular [img]="Calendar"></lucide-angular> Modifier loyer
        </button>
        <!-- <button (click)="addReminder()">
            <lucide-angular [img]="Calendar"></lucide-angular> Planifier un rappel
        </button> -->
        <button (click)="endLease()">
            <lucide-angular [img]="CalendarOff"></lucide-angular> Terminer le bail
        </button>
        <button (click)="deleteProperty()">
            <lucide-angular [img]="Trash2"></lucide-angular> Supprimer le bien
        </button>
    </section>
</section>

<!-- LOCATAIRE ACTUEL / AUCUN LOCATAIRE-->
<section class="bg-border space">
    @if(property()?.tenants?.length! >= 1){
    <h3 class="flex justify-between items-center">
        <span>Locataire actuel</span>
        <button (click)="generateRentReceipt()">
            <lucide-angular [img]="FileText"></lucide-angular> Générer quittance
        </button>
    </h3>
    <p class="flex items-center">
        <lucide-angular [img]="UsersRound"></lucide-angular>
        <!-- <span>{{property()?.tenants}}</span> -->
        @for (tenant of property()?.tenants; track tenant.id) {
        <span class=" p-1">{{tenant.fullName}}</span>
        }
    </p>
    <section class="flex items-center">
        <lucide-angular [img]="Mail"></lucide-angular>
        <p class="flex flex-col p-1">
            <span>Email</span>
            @for (tenant of property()?.tenants; track tenant.id) {
            <span>{{tenant.email}}</span>
            }
        </p>
    </section>
    <section class="flex items-center">
        <lucide-angular [img]="Phone"></lucide-angular>
        <p class="flex flex-col p-1">
            <span>Téléphone</span>
            @for (tenant of property()?.tenants; track tenant.id) {
            <span>{{tenant.phoneNumber}}</span>
            }
        </p>
    </section>
    <section class="flex items-center border-t-2 border-green-200">
        <lucide-angular [img]="Calendar"></lucide-angular>
        <p class="flex flex-col p-1">
            <span>Période de bail</span>
            <span>{{property()?.leaseStartDate | date:'shortDate'}} - {{property()?.leaseEndDate |
                date:'shortDate'}}</span>
        </p>
    </section>
    }@else {
    <h3 class="flex justify-between items-center">
        <span>Aucun locataire</span>
        <button (click)="rentProperty()">
            <lucide-angular [img]="UserRoundPlus"></lucide-angular> Louer le bien
        </button>
    </h3>
    }
</section>

<!-- DOCUMENTS -->
<section class="bg-border space">
    <h3>Documents</h3>
</section>