<section>
    <header>
        <h1 class="text-3xl font-bold">Mes biens</h1>
        <p class="text-sm font-light">Gérer tous mes biens</p>
        <button class="flex" (click)="createProperty()">
            <lucide-angular [img]="Plus"/>
            Ajouter un bien
        </button>
    </header>
    <main class="flex justify-center">
        <section class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
            @for (property of properties(); track property.id) {
            <app-property-card [property]="property"></app-property-card>
            }
        </section>
    </main>
</section>