<section>
    <header>
        <h1 class="text-3xl font-bold">Mes biens</h1>
        <p class="text-sm font-light">Gérer tous mes biens</p>
    </header>
    <main>
        <section class="flex flex-wrap">
            @for (property of properties(); track property.id) {
            <app-property-card [property]="property"></app-property-card>
            <app-property-card [property]="property"></app-property-card>
            <app-property-card [property]="property"></app-property-card>
            <app-property-card [property]="property"></app-property-card>
            <app-property-card [property]="property"></app-property-card>
            }
        </section>
    </main>
</section>